
.cart{
    &__line-item{
        border: 1px solid rgb(53, 53, 53) ;
        width:80vw;
        display: flex;
        justify-content: space-between;

    }
    &__product-img{

    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
}