
.review-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__review-form{
        width:70%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    textarea[name='review'] {
        width:100%;
        height:5rem;
        resize:none;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
    
    label[name='review']{
        font-weight: 500;
        font-style: ital;
    }
    h3,&__header-container{


    }
    &__no-reviews{
        box-sizing: border-box;
        margin:100px;
    }
}

&__container{
    border-top: 1px solid black;
    margin-top: 5rem;;
    padding:2rem;
    width: 90%;
}
&__container:last-child{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
&__review-container{
    border-top: 1px solid black;
}
&__review-info{
}
&__review-info-top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}
&__review{
//    border-top: 1px solid black; 
   padding:1rem;

}

}
