.product-page{
    display: flex;
    &__header{
        padding: 3rem;
        // border-bottom: 1px solid black;
    }
    &__galllery{
        padding:3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}
