.product{
    margin: 3rem;;
    display: flex;
    &__image-gallery{
        display: flex;

    }
    
    &__product-details{
        padding:4rem;
    }
    &__product-details-notes{
        padding:2rem 0rem 2rem 0rem;
    }
    &__product-details-header-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__product-details-header{
        align-self: center;
    }
    &__product-details form{
        display: flex;
        flex-direction: column;

    }
    &__product-details-colours{
        display: flex;
        
    }
    &__product-details-sizes{
        display: flex;

    }
    &__size{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0.2rem;
        padding:0.5rem;
        width:3rem;
        height:3rem;
    }
    &__colour{
        display: flex;
    }
    &__product-details-colours fieldset>*{
        padding:1rem;
        
    }
    .options{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    fieldset{
        display: flex;
        border: none;
    }
    &__select-size{
        // position: relative;
        display: flex;
        flex-direction: row;
    }
    input[type='radio']{
        opacity: 0;
        transform: scale(2);
        z-index: 10;
        position: absolute;
        // top:50%;
        // left:50%;

        
    }
    label>span{
        z-index: -2;
    }


    &__colour, &__size{
        position: relative;

    }

    &__colour .selected{
        border: 2px solid blue;
    }

    &__size{
        background-color: rgb(231, 231, 231);
        z-index: 3;
    }

    &__size .selected{
        background-color: black;
        color: white;
        border: 1px solid black;
        
    }
    &__size:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
        z-index: 3;

    }

    &__left{
        display: flex;
        flex-direction: column;
    }
    &__product-details-materials{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 1rem;
        // border-bottom: 1px solid black;
    }
    &__product-details-materials-p{
        padding-bottom: 0.2rem;
        margin-bottom: 0.2rem;
        border-bottom: 1px solid black;
    }

    &__product-details-quantity{
        margin-top: 3rem;
    }

    &__product-details-submit{
            display: flex;
            flex-direction: column;
            padding:2rem;
            align-items: flex-end;
            

    }

}

.selected-size {
    // border: 3px solid blue;
    background-color: black;
    color: white;
}

input[name='input_quantity']{
    width:2rem;
    text-align: center;
    margin:0.5rem;
}

