@use '../../styles/mixins' as *;
@use '../../styles/globals' as *;
@use '../../styles/variables' as *;


* {
     padding:0px;
     margin:0px;
     box-sizing: border-box;
}

.nav {
    background-color:rgba(255, 255, 255, 0.777);
    position: sticky;
    top:0;
    transition: background-color   0.75s ease-out 1ms;
    
    &__logo{
        g, path {
            fill: rgb(1, 0, 3);

        }

    }

    &__links>*:hover {
        // background-color: aqua;
        border-bottom: 5px solid rgba(13, 13, 170, 0.551);
    }

    &__top{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__links{
        display: flex;
        justify-content: space-around;
    }
    &__icons {
        height:1rem;
        width: auto;
    }
}

// @keyframes navTransition {
//     from {background-color:rgba(233, 149, 254, 0);}
// }

.nav:hover, .nav>*:hover {
    // background-color:rgba(233, 149, 254, 1);
    color:white;
    background-color:rgb(255, 255, 255);
    .nav>*:hover{
        
    }
    Link,ul,a{

            color:rgb(61, 61, 61);

    }

    g[featurekey="symbolFeature-0"]>path{
        //  Symbol
        fill: rgb(50, 50, 50);

    }
    g[featurekey="nameFeature-0"]>path, g[featurekey="sloganFeature-0"]>path {
        // text
        fill: rgb(28, 28, 28);

    }


}


